body.background{
	background-image: no-repeat;
	background: center;
	height: auto;
}
.container{
	height: auto;
	width: 600px;
/*background-color: clear;
*/text-align: left;
color: yellow;
margin-left: 400px;
border: 2px solid white;
/*background-color: yellow;
*//*opacity: 5;
*/}
/*div.background{
	width: 600px;
	height: 417px;
	margin: 0;
}*/
background-image{
	width: 600px,
	height:auto;
}
#start{
/*text-align: center;
*/color: yellow;
background-color: blue;
height: 70px;
width: 120px;
font-size: 25px;
margin: 10px 10px 10px 250px;
}
p{
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
	background-color: blue;
}
li{
	font-size: 25px;
	font-family: 'Indie Flower', cursive;
	color: black;
	/*-webkit-text-stroke:.5px yellow;*/
	
}
li:hover{
	color:blue;
	background-color: black;
}
h1{
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: 70px;
	color: blue;
	-webkit-text-stroke:1px black;
}
h2{
	margin-top: 0;
}
h3{
	color: white;
	text-align: left;
	font-size: 20px;
	-webkit-text-stroke:.5px yellow;
}
form{

}